<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/userDetails" method="post">
      <input type="text" name="Name" placeholder="Name"/>
      <input type="number" name="Number" placeholder="Number"/>
      <input type="email" name="Email" placeholder="Email"/>
      <input type="text" name="College/Organization" placeholder="College/Organization"/>
      <input type="text" name="Profession" placeholder="Profession"/>
      <input type="text" name="Branch" placeholder="Branch"/>
      <input type="text" name="Github" placeholder="Github"/>
      <input type="text" name="LinkedIn" placeholder="LinkedIn"/>
      <input type="text" name="X" placeholder="X"/>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
